* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  color: #70747a;
}

.navbar-container {
  width: 100%;
  height: 80px;
  background-color: #232a31;
  padding: 0 2 rem;
}

nav {
  position: relative;
}

.logo {
  width: 50px;
  margin-top: 15px;
}

.navbar-items {
  position: absolute;
  right: 0;
  list-style: none;
  height: 80px;
  line-height: 80px;
  margin: 0;
  display: inline-block;
}

.navbar-items li {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 25px;
}

.navbar-items li a {
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}

.navbar-items li a:hover {
  color: #ccc;
}

.default-btn {
  padding: 15px 20px;
  background-color: #2cc76a;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: 0.5s;
}

.navbar-items .default-btn:hover {
  background-color: #22bb5f;
  color: #000;
}

.main-banner {
  background-image: url("/img/mainbanner.png");
  background-size: cover;
  background-position: center;

  padding: 10rem 0;
}

.main-banner h1,
.main-banner p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: #000 2px 2px 2px;
}

.main-banner h1 {
  font-size: 3.37rem;
}

.main-banner p {
  font-size: 1.37rem;
}

.services-container {
  padding: 5rem 0;
}

.services-container ul {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.services-container ul li {
  flex: 1 1 200px;
  text-align: center;
  list-style: none;
  padding: 20px;
}

.fas {
  font-size: 60px;
  margin-bottom: 15px;
}

.fa-shield-alt {
  color: #2cc76a;
}

.fa-rocket {
  color: #ef3f29;
}

.fa-comments {
  color: #ef8f29;
}

.services-container h3 {
  margin-bottom: 20px;
  color: #fff;
}

.services-container p {
  line-height: 24px;
}

.price-container {
  padding-bottom: 5rem;
  text-align: center;
}

.price-container h2 {
  font-size: 36px;
  color: #e8e9ea;
}

.price-container p {
  font-size: 20px;
}

.plans-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 50px auto 0;
}

.plan {
  flex: 1;
  max-width: 275px;
  margin: 0 20px;
}

.plan ul {
  padding: 0;
}

.plan ul li {
  list-style: none;
  height: 50px;
  line-height: 50px;
  background-color: #e8e9ea;
  color: #333;
}

.plan .price {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #2cc762;
  color: #fff;
  text-align: center;
  line-height: 120px;
  margin: 0 auto -50px;
  font-size: 18px;
  position: relative;
}

.plan .plan-name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #202b34;
  padding: 50px 0;
}

.plan .plan-btn {
  background-color: #2cc762;
  color: #fff;
  font-size: 24px;
  height: 75px;
  line-height: 75px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.plan .plan-btn:hover {
  background-color: #202b34;
}
